{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },  
  "rules": {
    "for-direction": 1,
    "getter-return": [1, { "allowImplicit": true }],
    "no-async-promise-executor": 1,
    "no-await-in-loop": 1,
    "no-compare-neg-zero": 1,
    "no-cond-assign": [1, "except-parens"],
    "no-console": 1,
    "no-constant-condition": [1, { "checkLoops": true }],
    "no-control-regex": 1,
    "no-debugger": 1,
    "no-dupe-args": 1,
    "no-dupe-keys": 1,
    "no-duplicate-case": 1,
    "no-empty": [1, { "allowEmptyCatch": true }],
    "no-empty-character-class": 1,
    "no-ex-assign": 1,
    "no-extra-boolean-cast": 1,
    "no-extra-semi": 1,
    "no-func-assign": 1,
    "no-inner-declarations": [1, "both"],
    "no-invalid-regexp": [1, { "allowConstructorFlags": ["u", "y"] }],
    "no-irregular-whitespace": [
      1,
      {
        "skipStrings": true,
        "skipComments": true,
        "skipRegExps": true, 
        "skipTemplates": true
      }
    ],
    "no-misleading-character-class": 1,
    "no-obj-calls": 1,
    "no-prototype-builtins": 1,
    "no-regex-spaces": 1,
    "no-sparse-arrays": 1,
    "no-template-curly-in-string": 1,
    "no-unreachable": 1,
    "no-unsafe-finally": 1,
    "no-unsafe-negation": 1,
    "use-isnan": 1,
    "require-atomic-updates": 1,
    "valid-typeof": [1, { "requireStringLiterals": true }],
    "accessor-pairs": [1, { "setWithoutGet": true, "getWithoutSet": true }],
    "array-callback-return": [1, { "allowImplicit": false }],
    "default-case": 1,
    "dot-location": [1, "property"],
    "dot-notation": 1,
    "eqeqeq": [1, "always"],
    "no-alert": 1,
    "no-caller": 1,
    "no-case-declarations": 1,
    "no-else-return": [1, { "allowElseIf": true }],
    "no-empty-function": 1,
    "no-empty-pattern": 1, 
    "no-eval": [1, { "allowIndirect": false }],  
    "no-extend-native": 1,
    "no-extra-bind": 1,
    "no-extra-label": 1,
    "no-fallthrough": 1,
    "no-global-assign": 1,
    "no-implied-eval": 1,
    "no-iterator": 1,
    "no-lone-blocks": 1,
    "no-loop-func": 1,
    "no-multi-spaces": [1, { "ignoreEOLComments": true, "exceptions": { "VariableDeclarator": true, "ImportDeclaration": true } }],
    "no-multi-str": 1,
    "no-new-func": 1,
    "no-new-wrappers": 1,
    "no-octal": 1,
    "no-octal-escape": 1,
    "no-param-reassign": [1, { "props": false }],
    "no-proto": 1,
    "no-redeclare": [1, { "builtinGlobals": true }],
    "no-return-assign": [1, "except-parens"],
    "no-script-url": 1,
    "no-self-assign": 1,
    "no-self-compare": 1,
    "no-sequences": 1,
    "no-throw-literal": 1,
    "no-unused-labels": 1,
    "no-useless-catch": 1,
    "no-useless-concat": 1,
    "no-useless-escape": 1,
    "no-useless-return": 1,
    "no-void": 1,
    "no-warning-comments": [1, { "terms": ["todo", "fixme", "xxx"], "location": "anywhere" }],
    "no-with": 1,
    "prefer-promise-reject-errors": [1, { "allowEmptyReject": true }],
    "radix": [1, "always"],
    "require-await": 1,
    "wrap-iife": [1, "outside"],    
    "no-delete-var": 1,
    "no-label-var": 1,
    "no-shadow-restricted-names": 1,
    "no-undef": 1,
    "no-undef-init": 1,
    "no-undefined": 1,
    "no-unused-vars": [
      1,
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false,
        "caughtErrors": "all"
      }
    ],
    "array-bracket-newline": [1, "consistent"],
    "array-bracket-spacing": [1, "never"],
    "array-element-newline": [1, "consistent"],
    "brace-style": [1, "1tbs"],
    "camelcase": [1, { "properties": "always", "ignoreDestructuring": false }],
    "comma-dangle": [1, "never"],
    "comma-spacing": [1, { "before": false, "after": true }],
    "comma-style": [1, "last"],
    "computed-property-spacing": [1, "never"],
    "eol-last": [1, "never"],
    "func-call-spacing": [1, "never"],
    "function-paren-newline": [1, "consistent"],
    "implicit-arrow-linebreak": [1, "beside"],
    "indent": [1, 2, { "SwitchCase": 1 }],
    "key-spacing": [
      1,
      {
        "beforeColon": false,
        "afterColon": true,
        "mode": "strict"
      }
    ],
    "keyword-spacing": [1, { "before": true, "after": true }],
    "lines-around-comment": [
      1,
      {
        "beforeBlockComment": true,
        "afterBlockComment": false,
        "beforeLineComment": true,
        "afterLineComment": false,
        "allowBlockStart": true,
        "allowBlockEnd": false,
        "allowClassStart": true,
        "allowClassEnd": false,
        "allowObjectStart": true,
        "allowObjectEnd": false,
        "allowArrayStart": true,
        "allowArrayEnd": false
      }
    ],
    "lines-between-class-members": [1, "never"],
    "multiline-comment-style": [1, "starred-block"],
    "multiline-ternary": [1, "never"],
    "new-cap": [1, { "newIsCap": true, "capIsNew": false }],
    "no-array-constructor": 1,
    "no-lonely-if": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-multi-assign": 1,
    "no-multiple-empty-lines": [1, { "max": 1, "maxEOF": 0, "maxBOF": 0 }],
    "no-new-object": 1,
    "no-trailing-spaces": [1, { "skipBlankLines": false, "ignoreComments": false }],
    "no-unneeded-ternary": [1, { "defaultAssignment": true }],
    "no-whitespace-before-property": 1,
    "nonblock-statement-body-position": [1, "beside"],
    "object-curly-newline": [1, { "consistent": true }],
    "object-curly-spacing": [1, "never"],
    "one-var": [1, "never"],
    "operator-linebreak": [1, "none"],
    "padded-blocks": [1, "never"],
    "prefer-object-spread": 1,
    "quote-props": [1, "as-needed", { "unnecessary": true }],    
    "quotes": [1, "single"],    
    "semi": [1, "always", { "omitLastInOneLineBlock": false }],
    "semi-spacing": [1, { "before": false, "after": true }],
    "semi-style": [1, "last"],
    "space-before-blocks": [1, "always"],
    "space-before-function-paren": [1, { "anonymous": "always", "named": "never", "asyncArrow": "always" }],
    "space-in-parens": [1, "never"],
    "space-infix-ops": 1,
    "space-unary-ops": [1, { "words": true, "nonwords": false }],
    "spaced-comment": [1, "always"],
    "switch-colon-spacing": [1, { "before": false, "after": true }],
    "template-tag-spacing": [1, "never"],
    "arrow-body-style": [1, "as-needed"],
    "arrow-parens": [1, "as-needed", { "requireForBlockBody": false }],
    "arrow-spacing": [1, { "before": true, "after": true }],
    "constructor-super": 1,
    "generator-star-spacing": [1, {"before": false, "after": true}],
    "no-class-assign": 1,
    "no-const-assign": 1,
    "no-dupe-class-members": 1,
    "no-new-symbol": 1,
    "no-duplicate-imports": [1, { "includeExports": false }],
    "no-this-before-super": 1,
    "no-useless-computed-key": 1,
    "no-useless-constructor": 1,
    "no-useless-rename": [
      1,
      {
        "ignoreDestructuring": false,
        "ignoreImport": false,
        "ignoreExport": false
      }
    ],
    "no-var": 1,
    "object-shorthand": 1,
    "prefer-arrow-callback": [1, { "allowNamedFunctions": false, "allowUnboundThis": true }],
    "prefer-const": [1, { "destructuring": "all", "ignoreReadBeforeAssign": true }],
    "prefer-numeric-literals": 1,
    "prefer-rest-params": 1,
    "prefer-spread": 1,
    "prefer-template": 1,
    "require-yield": 1,
    "rest-spread-spacing": [1, "never"],
    "symbol-description": 1,
    "template-curly-spacing": [1, "never"],
    "yield-star-spacing": [1, { "before": false, "after": true }]
  }
}