body {
  font: 16px/1.5 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0;
}