extends ../modules/layout/layout.pug

block page
  .page
    .container
      a(href="./") « Home
      h1 Style
      p In hac habitasse platea dictumst. Nunc iaculis nunc ut aliquam vulputate. Fusce diam magna, finibus eu ante ut, vestibulum bibendum dolor. Donec placerat bibendum molestie. Sed lacus turpis, cursus ac est nec, consectetur dignissim dolor. Nam gravida porttitor interdum. In rhoncus urna ut velit interdum euismod.
      h1 Cras scelerisque ex non est tempor, vel tempus dui scelerisque.
      h2 Cras scelerisque ex non est tempor, vel tempus dui scelerisque.
      h3 Cras scelerisque ex non est tempor, vel tempus dui scelerisque.
      h4 Cras scelerisque ex non est tempor, vel tempus dui scelerisque.
      h5 Cras scelerisque ex non est tempor, vel tempus dui scelerisque.
      h6 Cras scelerisque ex non est tempor, vel tempus dui scelerisque.
      p Duis a rhoncus neque, at tempor nibh. Nunc eu tempor velit. Mauris fermentum blandit nisl, feugiat maximus neque. Mauris feugiat suscipit consequat. Pellentesque eu ex pulvinar, lacinia neque sed, luctus arcu. Proin in tellus vel risus feugiat varius vel ut massa. Aliquam urna enim, bibendum sit amet quam sit amet, rhoncus interdum leo. Vivamus commodo a sapien vitae sagittis. Aliquam non elit eu nibh tempus rhoncus non quis metus. Duis efficitur dui eu neque dictum semper sed id libero. Sed aliquet feugiat leo, eu lacinia elit euismod nec. Fusce sit amet turpis sapien. Fusce varius accumsan facilisis. Morbi eros tellus, venenatis et condimentum eget, fermentum vitae ligula. Vestibulum viverra ex eu tincidunt molestie. Cras scelerisque ex non est tempor, vel tempus dui scelerisque.
      h1 Cras scelerisque ex non est tempor, vel tempus dui scelerisque.
      p Aliquam metus risus, rutrum et fringilla eget, imperdiet non nisl. Curabitur tristique est eget lacus ultrices consectetur. Sed sed dictum leo. Praesent viverra risus augue, sed convallis magna rhoncus non. Pellentesque commodo est et nisl ultricies, vel molestie turpis congue. In volutpat sem sed purus convallis, sed bibendum lorem lacinia. Quisque luctus, nunc vel hendrerit ultrices, massa massa pharetra magna, nec tristique odio nisi ut ligula. Duis eget augue ac erat volutpat feugiat. Quisque aliquet quam purus, vitae interdum odio sollicitudin id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
      h2 Cras scelerisque ex non est tempor, vel tempus dui scelerisque.
      p Aliquam metus risus, rutrum et fringilla eget, imperdiet non nisl. Curabitur tristique est eget lacus ultrices consectetur. Sed sed dictum leo. Praesent viverra risus augue, sed convallis magna rhoncus non. Pellentesque commodo est et nisl ultricies, vel molestie turpis congue. In volutpat sem sed purus convallis, sed bibendum lorem lacinia. Quisque luctus, nunc vel hendrerit ultrices, massa massa pharetra magna, nec tristique odio nisi ut ligula. Duis eget augue ac erat volutpat feugiat. Quisque aliquet quam purus, vitae interdum odio sollicitudin id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
      h3 Cras scelerisque ex non est tempor, vel tempus dui scelerisque.
      p Aliquam metus risus, rutrum et fringilla eget, imperdiet non nisl. Curabitur tristique est eget lacus ultrices consectetur. Sed sed dictum leo. Praesent viverra risus augue, sed convallis magna rhoncus non. Pellentesque commodo est et nisl ultricies, vel molestie turpis congue. In volutpat sem sed purus convallis, sed bibendum lorem lacinia. Quisque luctus, nunc vel hendrerit ultrices, massa massa pharetra magna, nec tristique odio nisi ut ligula. Duis eget augue ac erat volutpat feugiat. Quisque aliquet quam purus, vitae interdum odio sollicitudin id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
      h4 Cras scelerisque ex non est tempor, vel tempus dui scelerisque.
      p Aliquam metus risus, rutrum et fringilla eget, imperdiet non nisl. Curabitur tristique est eget lacus ultrices consectetur. Sed sed dictum leo. Praesent viverra risus augue, sed convallis magna rhoncus non. Pellentesque commodo est et nisl ultricies, vel molestie turpis congue. In volutpat sem sed purus convallis, sed bibendum lorem lacinia. Quisque luctus, nunc vel hendrerit ultrices, massa massa pharetra magna, nec tristique odio nisi ut ligula. Duis eget augue ac erat volutpat feugiat. Quisque aliquet quam purus, vitae interdum odio sollicitudin id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
      p Aliquam metus risus, rutrum et fringilla eget, imperdiet non nisl. Curabitur tristique est eget lacus ultrices consectetur. Sed sed dictum leo. Praesent viverra risus augue, sed convallis magna rhoncus non. Pellentesque commodo est et nisl ultricies, vel molestie turpis congue. In volutpat sem sed purus convallis, sed bibendum lorem lacinia. Quisque luctus, nunc vel hendrerit ultrices, massa massa pharetra magna, nec tristique odio nisi ut ligula. Duis eget augue ac erat volutpat feugiat. Quisque aliquet quam purus, vitae interdum odio sollicitudin id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
      p Aliquam metus risus, rutrum et fringilla eget, imperdiet non nisl. Curabitur tristique est eget lacus ultrices consectetur. Sed sed dictum leo. Quisque luctus, nunc vel hendrerit ultrices, massa massa pharetra magna, nec tristique odio nisi ut ligula. #[strong Duis eget augue ac erat volutpat feugiat]. #[em Quisque aliquet quam purus], vitae interdum odio sollicitudin id. Vestibulum #[small ante ipsum primis in faucibus orci] luctus et ultrices posuere cubilia Curae. Praesent viverra risus augue, sed convallis magna rhoncus non. Pellentesque commodo est et nisl ultricies, vel molestie turpis congue. In volutpat sem sed purus convallis, sed bibendum lorem lacinia.
      ul
        li Pellentesque commodo est et nisl ultricies
        li Curabitur tristique est eget lacus
        li Duis eget augue ac erat volutpat feugiat
          ul
            li In volutpat sem sed purus convalli
            li magna rhoncus non. Pellentesque
            li ultrices posuere cubilia Curae
        li odio nisi ut ligula
        li sed convallis magna rhoncus non. Pellentesque
      ol
        li Pellentesque commodo est et nisl ultricies
        li Curabitur tristique est eget lacus
        li Duis eget augue ac erat volutpat feugiat
          ol
            li In volutpat sem sed purus convalli
            li magna rhoncus non. Pellentesque
            li ultrices posuere cubilia Curae
        li odio nisi ut ligula
        li sed convallis magna rhoncus non. Pellentesque
      .table
        table.table__element
          tr #[th] #[th Клуб] #[th И] #[th В] #[th ВО] #[th ВБ] #[th ПБ] #[th ПО] #[th П] #[th Ш] #[th О]
          tr #[td 1] #[td ЦСКА ] #[td 41] #[td 28] #[td 3] #[td 4] #[td 0] #[td 0] #[td 6] #[td 126-50] #[td 70]
          tr #[td 2] #[td СКА] #[td 39] #[td 27] #[td 2] #[td 0] #[td 2] #[td 2] #[td 6] #[td 132-55] #[td 62]
          tr #[td 3] #[td Йокерит] #[td 40] #[td 23] #[td 3] #[td 0] #[td 1] #[td 4] #[td 9] #[td 130-95] #[td 57]
          tr #[td 4] #[td Локомотив] #[td 42] #[td 20] #[td 3] #[td 3] #[td 0] #[td 3] #[td 13] #[td 111-85] #[td 55]
          tr #[td 5] #[td Спартак] #[td 41] #[td 16] #[td 3] #[td 2] #[td 2] #[td 4] #[td 14] #[td 107-98] #[td 48]
          tr #[td 6] #[td ХК Динамо М] #[td 42] #[td 16] #[td 4] #[td 1] #[td 0] #[td 3] #[td 18] #[td 99-97] #[td 45]
          tr #[td 7] #[td ХК Сочи] #[td 42] #[td 12] #[td 4] #[td 3] #[td 4] #[td 2] #[td 17] #[td 99-110] #[td 44]
          tr #[td 8] #[td Витязь] #[td 41] #[td 17] #[td 2] #[td 1] #[td 2] #[td 1] #[td 18] #[td 94-107] #[td 43]
          tr #[td 9] #[td Динамо Р] #[td 40] #[td 12] #[td 3] #[td 1] #[td 3] #[td 2] #[td 19] #[td 82-104] #[td 37]
          tr #[td 10] #[td Динамо Мн] #[td 40] #[td 10] #[td 0] #[td 2] #[td 0] #[td 4] #[td 24] #[td 77-120] #[td 28]
          tr #[td 11] #[td Северсталь] #[td 42] #[td 6] #[td 3] #[td 1] #[td 1] #[td 3] #[td 28] #[td 65-129] #[td 24]
          tr #[td 12] #[td Слован] #[td 42] #[td 7] #[td 3] #[td 0] #[td 1] #[td 2] #[td 29] #[td 70-145] #[td 23]