doctype html
html
  head
    title Title
    base(href=base)
    meta(charset='utf-8')
    link(href="styles/main.css" rel="stylesheet")
    script(src="scripts/main.js" defer)
  body
    h1 this is home