extends modules/layout/layout.pug

block page
  main.main
    h1 In egestas leo commodo
    div
      a(href="/index.html") Sliquet a velit 
      span » Morbi nec lectus
    p In hac habitasse platea dictumst. Nunc iaculis nunc ut aliquam vulputate. Fusce diam magna, finibus eu ante ut, vestibulum bibendum dolor. Donec placerat bibendum molestie. Sed lacus turpis, cursus ac est nec, consectetur dignissim dolor. Nam gravida porttitor interdum. In rhoncus urna ut velit interdum euismod.
    .images
      //- img(src="images/2014.03.17.png")
      //- img(src="images/dabang.gif")
      //- img(src="images/2017.12.17.jpg")
    p Duis a rhoncus neque, at tempor nibh. Nunc eu tempor velit. Mauris fermentum blandit nisl, feugiat maximus neque. Mauris feugiat suscipit consequat. Pellentesque eu ex pulvinar, lacinia neque sed, luctus arcu. Proin in tellus vel risus feugiat varius vel ut massa. Aliquam urna enim, bibendum sit amet quam sit amet, rhoncus interdum leo. Vivamus commodo a sapien vitae sagittis. Aliquam non elit eu nibh tempus rhoncus non quis metus. Duis efficitur dui eu neque dictum semper sed id libero. Sed aliquet feugiat leo, eu lacinia elit euismod nec. Fusce sit amet turpis sapien. Fusce varius accumsan facilisis. Morbi eros tellus, venenatis et condimentum eget, fermentum vitae ligula. Vestibulum viverra ex eu tincidunt molestie. Cras scelerisque ex non est tempor, vel tempus dui scelerisque.
    p Aliquam metus risus, rutrum et fringilla eget, imperdiet non nisl. Curabitur tristique est eget lacus ultrices consectetur. Sed sed dictum leo. Praesent viverra risus augue, sed convallis magna rhoncus non. Pellentesque commodo est et nisl ultricies, vel molestie turpis congue. In volutpat sem sed purus convallis, sed bibendum lorem lacinia. Quisque luctus, nunc vel hendrerit ultrices, massa massa pharetra magna, nec tristique odio nisi ut ligula. Duis eget augue ac erat volutpat feugiat. Quisque aliquet quam purus, vitae interdum odio sollicitudin id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;